#!/bin/bash
# Install Gmail as a webapp and register it as the default mailto handler.
# Idempotent: webapp install + xdg-mime default are both re-runnable.
set -e
{{ template "install-webapp.sh" (dict
    "name" "Gmail"
    "url" "https://mail.google.com"
    "icon" "gmail.png"
    "mime" "x-scheme-handler/mailto"
    "default" "yes") }}
